body,
input,
button {
    font-family: "Poppins", sans-serif;
}

body {
    background: #f7f6f2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    margin-top: 10rem;
    max-width: 50rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page img {
    width: 25rem;
    margin-bottom: 10rem;
}

fieldset {
    border: none;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem 0 1.2rem 1rem;

    border: 2px solid #bb3239;
    background: #e9e8e4;
    border-radius: 0.8rem;
}

.input-wrapper input:focus {
    border: 2px solid #a72d33;
}

footer {
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .login-button {
    color: #f7f6f2;
    font-weight: bold;

    background: #bb3239;
    width: 15rem;
    border: none;
    height: 4rem;
    border-radius: 0.8rem;
}

footer .login-button:hover {
    background: #a72d33;
}
